body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calculadora {
    background-color: #1e1e1e;
    padding: 3vh;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90vw;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    color: #ff9500;
    font-size: 2.5vh;
    margin-bottom: 2vh;
}

#pantalla {
    width: 95%;
    min-height: 12vh;
    padding: 1vh;
    background-color: #333;
    color: white;
    border-radius: 2vh;
    margin-bottom: 2vh;
    overflow: hidden;
}

#operation {
    font-size: 4vh;
    color: #888;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#result {
    font-size: 4vh;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vh;
    flex-grow: 1;
    align-items: center;
}

button {
    height: 8vh;
    font-size: 3vh;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    transition: 0.3s;
}

button:active,
button:focus-visible {
    outline: none;
    box-shadow: 0 0 1vh 0.2vh rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
}

button:active {
    transform: scale(0.95);
}

button.operador {
    background-color: #ff9500;
    color: white;
}

button.operador:hover,
button.operador:focus-visible {
    background-color: #e08a00;
}

button:not(.operador) {
    background-color: #333;
    color: white;
}

button:not(.operador):hover,
button:not(.operador):focus-visible {
    background-color: #444;
}
